<div class="user-details">
  <h1>My Expertise</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
    <h2>Design</h2>
    <img src="{{site.baseurl}}/assets/sc.png">    
    <p>I am currently a team lead for two units in the upcoming z16 Mainframe processor, with expertise in Floorplanning, Timing, and DRC/LVS</p>
  </div>
  <div class="tech">
    <h2>Code</h2>
    <img src="{{site.baseurl}}/assets/python.png">    
    <p>I am currently learning Python, and have past experience with tcl, bash, Java, C, and C++</p>
  </div>
  <div class="tech">
    <h2>Tools</h2>
    <img src="{{site.baseurl}}/assets/cadence.png">    
    <p>Cadence Virtuoso and Encounter, Git, Theguide, Chipbench, PowerSpice </p>
  </div>
</div>
